body{
    height: 100vh;
}

.container1{
    background-color: aquamarine;
    width: 45%;
    height: 45%;
}

.container2{
    background-color: rgb(255, 187, 127);
    width: 45%;
    height: 45%;
    margin-top: 10px;
}

.container3{
    background-color: rgb(202, 255, 127);
    width: 45%;
    height: 45%;
    position: absolute;
    left: 50%;
    top: 10px;
    
}

.container4{
    background-color: rgb(127, 150, 255);
    width: 45%;
    height: 45%;
    position: absolute;
    left: 50%;
    top: 47%;
}


@media (max-width: 700px) {

    .container1{
        margin-left: 70px;
    }

    .container2{
        margin-left: 70px;
    }

    .container3{
        position: static;
        margin-left: 70px;
    }

    .container4{
        position: static;
        margin-left: 70px;
    }
}